[access "refs/heads/*"]
abandon = group midonet-core
create = group midonet-release
label-Code-Review = -2..+2 group midonet-core
label-Verified = -1..+1 group midonet-ci
label-Workflow = -1..+1 group midonet-core

[access "refs/tags/*"]
pushSignedTag = group midonet-release

[receive]
requireChangeId = true
requireContributorAgreement = true

[submit]
mergeContent = true
